/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-color{
    background-color: rgb(40, 15, 15);
}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
   
}

.img-principal{
    display: flex;
    justify-content: center;
}

.text-center{
    font-size: xx-large;
    text-align: center;
}

ul li{
    list-style: none;
}

.img-principal{
    margin-top: 15rem;
}

.iframe_center{
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}

/* estilos de contacto */
    
.form-register{
    width: 400px;
    background-color: rgb(40, 15, 15);
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.form-register h1{
    font-size: 22px;
    margin-top: 20px;
}

/* estilos de pag juegos */

.titulo{
    text-align: center;
}

.contenedor .img-dos, .img-cinco{
    display: none;    
}

.contenedor div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor{
    padding: 2rem;
    height: 70vh;
    margin: 1rem 3rem 5rem 3rem;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, 33%) ;
    row-gap: 1rem;
}


/* mq de desktop */

@media screen and (min-width:1024px){
    .contenedor .img-dos, .img-cinco{
        display: block;
    }

    .contenedor{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40% 40% 20%;
    }

    .contenedor .img-uno, .img-tres{
        grid-row: span 2;
    }

    .contenedor .img-cuatro{
        grid-column: span 1;
    }
    .contenedor .img-cinco{
        grid-column: span 3;
    }
}

/* estilos de pag novedades */

.container-iframe .iframe_center_dos{
    display: none;
}

.container-iframe{
    
    padding: 2rem;
    height: 70vh;
    margin-bottom: 20rem;
    display: grid;
    grid-template-columns: 1fr ;
    row-gap: 1rem;
}

@media screen and (min-width:1024px){
    .container-iframe .iframe_center_dos{
        display: block;
        margin-top: 1rem;
    }
}

/* tamaño de img de pj */
.tam_pj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.tam_pj img{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.tam_pj .tamanio_rep{
    object-fit: contain;
}


#icon{
    width: 10rem;
    height: 10rem;
}

.nav-mobile{
    display: none;
}

/* footer */

footer{
    background-color: rgb(40, 15, 15) ;
    color: whitesmoke;
}

.div-space{
    display: flex;
    justify-content: space-around;
}

.socialmedia-icon{
    width: 2rem;
    height: 2rem;
}

footer a{
    color: white;
    text-decoration: none;
}
.p-container{
    width: 20rem;
}
.footer-inline{
    display: flex;
    flex-direction: row;
}

