.form-register{
    width: 400px;
    background-color: rgb(40, 15, 15);
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
.form-register h1{
    font-size: 22px;
    margin-top: 20px;
}
