/* estilos de pag juegos */

.titulo{
    text-align: center;
}

.contenedor .img-dos, .img-cinco{
    display: none;    
}

.contenedor div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor{
    padding: 2rem;
    height: 70vh;
    margin: 1rem 3rem 5rem 3rem;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, 33%) ;
    row-gap: 1rem;
}